html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
  overflow: hidden;
  border-radius: 5px;
}

.title-bar {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 666;
  text-align: center;
  background: white;
  width: 100%;
}

.title-bar-placeholder {
  height: 60px;
  -webkit-app-region: drag;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
.pc-side-section {
  display: block;
  width: 27%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: #ccc;
}
.statusbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
}
.thumbnail {
  width: 40px;
  height: 40px;
  float: left;
}
.statusbar > span {
  float: left;
  margin: 5px 10px;
  font-size: 24px;
}
.circle {
  border-radius: 50%;
}
.cat-holder {
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.cat-holder > h1, .weather-section .section-header > h1{
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}
.weather-section .section-header > h1 {
  font-size: 50px;
}
.cat-holder > p, .weather-section .section-header > p {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.cat-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  max-width: 100%;
}
.image-large {
  width: 300px;
}
.main-content {
  display: block;
  width: 73%;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  max-height: 100vh;
}
.news-section {
  padding: 50px;
}

.weather-section-header {
  margin-bottom: 20px;
}

.weather-section-header h1, .weather-section-header p {
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 20px;
}

.weather-section-header h1 {
  font-size: 50px;
}

.swapper-section.section-header {
  display: flex;
  justify-content: center;
}
.section-articles {
  padding: 30px 0;
}
.section-article {
  width: calc(33% - 30px);
  margin: 0 15px;
  display: block;
  float: left;
}

.section-article a {
  text-decoration: none;
  color: #333;
}

.weather-section {
  background: #B2D3F7;
  padding: 80px 0;
}

.news-section:after, .weather-section:after {
  content: ' ';
  display: table;
  clear: both;
}

.bottom-footer {
  width: 100%;
  background: #333;
  color: #999;
  text-align: center;
  padding: 50px;
}

.swapper > img {
  display: none;
}

.swapper.open > img {
  display: inline-block;
}

.swapper > img.active {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .pc-side-section {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #ccc;
  }
  .main-content {
    display: block;
    width: 100%;
    position: relative;
    overflow-y: visible;
    max-height: 100vh;
  }
}

@media screen and (max-width: 720px) {
  .section-article {
    width: calc(100% - 30px);
    margin: 0 15px;
    display: block;
    float: none;
    margin-bottom: 40px;
  }
}
